# Bağımlılıklar 
node_modules/

# Production (Canlı) derleme klasörleri
dist/
dist-ssr/
build/

# Çevre Değişkenleri ve Gizli Anahtarlar ( Iyzico API şifrelerini , Veritabanı Bağlantıları vs )

# Editör ve Sistem dosyaları
.vscode/
.DS_Store
npm-debug.log*
